html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: din-condensed;
  src: url(../fonts/DINCondensedBold.ttf);
}

@font-face {
  font-family: gill-sans;
  src: url(../fonts/GillSans.ttc);
}

.outerNav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  padding-top: 1.5%;
}

.leftNavItems {
  display: flex;
  justify-content: space-around;
  width: 40%;
  font-family: din-condensed;
}

.leftNavItems > div {
  cursor: pointer;
}

.leftNavItems > div:nth-child(1) {
  cursor: pointer;
  font-size: 22px;
}

.rightNavItems {
  display: flex;
  width: 20%;
  justify-content: space-around;
  font-family: din-condensed;
}

.rightNavItems > div {
  cursor: pointer;
}

.topSection {
  background-image: url("../assets/bg-pic.png");
  width: 100%;
  height: 750px;
}

.logoPlacement {
  padding: 130px 280px;
}

.topSection > h1:nth-child(2) {
  text-align: center;
  color: white;
  font-family: gill-sans;
  font-size: 60px;
  margin: 0;
  margin-top: -60px !important;
}
.topSection > h1:nth-child(3) {
  text-align: center;
  color: white;
  font-family: gill-sans;
  font-size: 80px !important;
  margin: 0;
  margin-top: -20px !important;
}

.topSection > h4 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin: 0;
}

.communityBlock > h1 {
  font-family: din-condensed;
  margin: 0;
  font-size: 45px;
}

.communityBlock > button {
  background: #ffdac8;
  border: 0;
  padding: 7px 10px;
  cursor: pointer;
  font-family: din-condensed;
  font-weight: bold;
  font-size: 15px;
  margin-top: 35px;
}

.communityFlexWrapper {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}

.communityBlock {
  width: 18%;
}

.communityBlock > hr {
  border: 2px solid #ffdac8;
  margin-left: -10px;
  width: 180px;
  margin-top: -35px;
}

.communityBlock > p {
  font-weight: bold;
}

.communityBlockRight {
  display: flex;
  margin-top: 4%;
  justify-content: space-between;
  width: 32%;
  visibility: hidden;
}

.animate {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
  visibility: visible !important;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}

.cardOne > img:nth-child(1) {
  height: 200px;
  width: 180px;
  border: 10px solid rgb(243, 241, 241);
}

.cardOne > img:nth-child(2) {
  margin-top: -223px;
  margin-bottom: 178px;
}

.cardTwo {
  height: 200px;
  width: 180px;
  padding: 2px;
  border: 8px solid rgb(243, 241, 241);
}

.paragraphBlock {
  width: 18%;
  margin-top: 7%;
  margin-left: 2%;
  font-size: 14px;
  font-family: gill-sans;
  line-height: 23px;
  visibility: hidden;
}

.bottomWrapperCom {
  margin: 0 !important;
}

.mapImage {
  width: 100%;
  margin-top: 10%;
}

.sideLines {
  position: fixed;
  margin-top: 300px;
  left: 5px;
}

.sideLines > p {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.simpleLine {
  width: 10px;
}

.wideLine {
  width: 30px;
}

.formWrapper {
  display: flex;
  background: #ffdac8;
  justify-content: space-around;
}

.leftText {
  width: 20%;
}

.leftText > hr {
  border: 3px solid white;
  margin-left: -15px;
  width: 135px;
  margin-top: -62px;
}

.leftText > h2 {
  margin-top: 30%;
  margin-bottom: 0;
}

.leftText > h1 {
  font-size: 42px;
  margin-top: 0;
}

.leftText > p {
  margin-top: 40px;
}

.formElement {
  display: flex;
  justify-content: space-between;
}

.formInput {
  border-bottom: 1px solid black !important;
  border: 0;
  background: #ffdac8;
  width: 200px;
  padding: 7px 0px;
}
.formInput:focus {
  outline: none !important;
}
.formImage > img {
  margin-left: 24%;
}
.realForm {
  width: 33%;
}

.dropDown {
  border: 0;
  border-bottom: 1px solid black !important;
  background: #ffdac8;
  width: 200px;
  padding: 7px 0;
  margin-top: 10px;
}
.dropDown:focus {
  outline: none !important;
}

.sendButton {
  border: 0;
  padding: 5px;
  width: 60px;
  color: #ffdac8;
  background: black;
  cursor: pointer;
  float: right;
  margin-top: 10px;
}

.sendButton:focus {
  outline: none;
}

.bottomWrapper {
  background: #333333;
}

.linksDiv {
  display: flex;
  padding: 30px 50px;
  color: rgb(172, 168, 168);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.links {
  display: flex;
  color: rgb(172, 168, 168);
  width: 70%;
  justify-content: space-around;
}

.linkSubSection > div {
  padding: 5px;
}

.logo {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.logo > h1 {
  margin: 0;
  font-size: 48px;
}

.copy {
  display: flex;
  justify-content: space-between;
  margin-left: 102px;
  width: 80%;
  color: rgb(172, 168, 168);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.rightFixed {
  position: fixed;
  right: 0;
  transform: rotate(270deg);
  background: white;
  padding: 5px;
  margin-top: 350px;
  cursor: pointer;
}
